<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
        {% block body %}
            <h2>Collections</h2>
        {% for collection in collections %}
            <a href="{{ path('products', { 'id': collection.id }) }}">{{ collection.title }}</a><br>
            <a>{{ collection.dateCreatedAt.format('Y-m-d H:i:s') }}</a>
            <p></p>
        {% endfor %}
        {% endblock %}
    </body>
</html>
